.clearfix {
    *zoom: 1;
}

.clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.discovery-main {
    display: inline-block;
    color: #444;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    clear: both;
    margin-top: 20px;
    width: 100%;
}

.discovery-note {
    display: none;
}

.discovery-note .alert .btn {
    margin: 20px 0 8px;
    text-decoration: none;
    box-shadow: none;
}

.discovery-options {
    position: absolute;
    margin-top: -7px;
    right: 0;
}

.discovery-options .discovery-help {
    background: rgba(0,49,79,.08);
    color: rgba(34,59,74,.5);
    border-radius: 3px;
    padding: 4px;
    outline: 0;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
}

.discovery-col-header {
    margin-bottom: .8em;
}

.discovery-col-header h2 {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(34,59,74,.5);
}

.discovery-col-header h2 strong {
    color: rgba(34,59,74,.7);
}

.discovery-post h3 {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    display: block;
    line-height: 1.25em;
    max-height: 2.5em;
    overflow: hidden;
}

.discovery-post a.title {
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 1.25em;
    padding-right: 5px;
}

.dark .discovery-col-header h2 {
    color: #bbb;
}

.dark .discovery-col-header h2 strong {
    color: #fff;
}

.dark .discovery-options .discovery-help {
    color: rgba(255,255,255,.5);
    background: rgba(255,255,255,.25);
}

@media screen and (max-width:440px) {
    .discovery-options {
        display: none;
    }

    .discovery-col-header {
        margin-bottom: .4em;
    };
}

.discovery-post {
    margin-bottom: 10px;
    float: left;
    width: 48%;
}

.discovery-post:nth-child(odd) {
    margin-right: 4%;
}

.discovery-post .meta {
    color: #777;
    color: rgba(30,55,70,.4);
}

.discovery-post .meta li {
    display: inline;
    line-height: 1.1em;
    font-weight: 500;
    font-size: 12px;
}

.discovery-post .meta li:after {
    content: '\2022';
    color: #ccc;
}

.discovery-post .meta li:last-of-type {
    margin-right: 0;
}

.discovery-post .meta li:last-of-type:after {
    content: '';
    margin-left: 0;
}

.discovery-post .top-comment {
    color: #333;
    display: inline-block;
    width: 100%;
    margin-top: 6px;
    font-size: 14px;
}

.discovery-post .top-comment img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 8px;
    margin-top: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.discovery-post .top-comment p {
    line-height: 1.4em;
    max-height: 4.199999999999999em;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 0;
    color: #42474a;
}

.discovery-post .top-comment .user {
    font-weight: 600;
    font-size: 13px;
    color: #777;
    color: rgba(30,55,70,.4);
}

.discovery-post .top-comment:hover {
    text-decoration: none;
    color: #666;
}

.discovery-post .top-comment:hover .user {
    color: #AAA;
}

.discovery-post .top-comment:hover img {
    opacity: .8;
}

.dark .discovery-post .meta {
    color: #aaa;
}

.dark .discovery-post .top-comment .user {
    color: #999;
}

.dark .discovery-post .top-comment p {
    color: #fff;
}

.dark .discovery-post .top-comment:hover {
    color: #888;
}

.dark .discovery-post .top-comment:hover .user {
    color: #777;
}

.serif .discovery-post .top-comment p {
    font-family: Georgia,Times,serif;
}

.serif .discovery-post .top-comment p span.user {
    font-family: "Helvetica Neue",arial,sans-serif;
}

@media screen and (max-width:440px) {
    .discovery-post {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }

    .discovery-post:nth-child(odd) {
        margin-right: 0;
    };
}

.doublesection .discovery-col-0 {
    padding-right: 10px;
}

.doublesection .col-organic,.doublesection .col-promoted {
    float: left;
    width: 50%;
}

.doublesection .discovery-post {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.1%;
}

.doublesection .discovery-post:nth-child(odd) {
    margin-right: 0;
}

.discovery-post .inline-meta {
    font-size: 12px;
    font-weight: 500;
    color: #777;
    color: rgba(0,0,0,.25);
    white-space: nowrap;
}

.dark .discovery-post .inline-meta {
    color: #aaa;
}

@media screen and (max-width:440px) {
    .doublesection .col-organic,.doublesection .col-promoted {
        width: 100%;
    }

    .doublesection .col-organic {
        padding-right: 0;
        margin-bottom: 2%;
    }

    .doublesection.discovery-main .discovery-col-header {
        padding-bottom: .5%;
    }

    .doublesection.discovery-main .discovery-post {
        margin-bottom: .5%;
    };
}

#discovery-top .discovery-main {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.discovery-thumbnails .hasthumbnail {
    position: relative;
}

.discovery-thumbnails .hasthumbnail h3 {
    margin-bottom: 0;
}

.discovery-thumbnails .hasthumbnail .meta {
    font-size: 11px;
    color: #666;
    margin-top: 5px;
    display: block;
}

.discovery-thumbnails .hasthumbnail .meta li {
    font-weight: 400;
}

.discovery-thumbnails .thumbnail {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.discovery-thumbnails .discovery-post {
    width: 48.75%;
}

.discovery-thumbnails .discovery-post:nth-child(odd) {
    margin-right: 2.5%;
}

.discovery-thumbnails .discovery-post .discovery-post-header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
}

.discovery-thumbnails .discovery-post h3 {
    font-size: 15px;
    line-height: 1.3em;
    max-height: 2.6em;
}

.discovery-thumbnails .discovery-post a.title {
    font-weight: 700;
    display: block;
    padding-right: 0;
    color: #fff;
}

.discovery-thumbnails .discovery-post .meta {
    font-size: 11px;
    color: #666;
    margin-top: 5px;
    display: block;
}

.discovery-thumbnails .discovery-post .meta li {
    font-weight: 400;
}

.discovery-thumbnails .discovery-post .top-comment {
    display: none;
}

.discovery-thumbnails .thumbnail {
    height: 200px;
}

.dark .discovery-thumbnails .discovery-post ul.meta,.dark .discovery-thumbnails .discovery-post .inline-meta {
    color: #ddd;
}

.dark .discovery-thumbnails .discovery-post ul.meta a,.dark .discovery-thumbnails .discovery-post .inline-meta a {
    color: #ddd;
}

@media screen and (max-width:400px) {
    .discovery-thumbnails .discovery-col-header {
        padding-bottom: .4em;
    }

    .discovery-thumbnails .discovery-post {
        float: left;
        width: 100%;
    }

    .discovery-thumbnails .discovery-post:nth-child(odd) {
        margin-right: 0;
    };
}

@media screen and (min-width:750px) {
    .discovery-thumbnails .hasthumbnail {
        float: left;
        width: 24%;
        margin-right: 1.3%;
    }

    .discovery-thumbnails .hasthumbnail:nth-child(odd) {
        margin-right: 1.3%;
    }

    .discovery-thumbnails .hasthumbnail:nth-child(4) {
        margin-right: 0;
    };
}

.doublethumbnails section {
    clear: both;
}

.doublethumbnails section.discovery-col-1 {
    padding-top: 1em;
}

.doublethumbnails .discovery-post a.title {
    display: inline;
    font-size: 14px;
}

.doublethumbnails .discovery-post .discovery-post-header {
    position: static;
    padding: inherit;
}

.doublethumbnails .discovery-post h3 {
    font-size: 14px;
    line-height: 1.5em;
    max-height: 3em;
}

.doublethumbnails .hasthumbnail {
    width: 33.3%;
    margin-right: 0;
    padding-right: 10px;
}

.doublethumbnails .hasthumbnail:nth-child(odd) {
    margin-right: 0;
}

.doublethumbnails .hasthumbnail:last-child {
    padding-right: 0;
}

.doublethumbnails .hasthumbnail h3 {
    max-height: 6em;
}

.doublethumbnails .hasthumbnail .inline-meta {
    font-size: 12px;
    font-weight: 500;
}

.doublethumbnails .thumbnails-rows .hasthumbnail:nth-child(4) {
    display: none;
}

.doublethumbnails .thumbnail {
    height: 120px;
    margin-bottom: 10px;
}

#discovery-top .discovery-main.doublethumbnails {
    border-bottom: 0;
}

.dark .doublethumbnails .discovery-post .inline-meta {
    font-size: 12px;
    color: rgba(0,39,59,.5);
    color: rgba(255,255,255,.4);
    font-weight: 500;
}

@media screen and (max-width:480px) {
    .doublethumbnails section {
        width: 100%;
    }

    .doublethumbnails .discovery-post {
        width: 100%;
    }

    .doublethumbnails .hasthumbnail {
        padding-right: 0;
    }

    .doublethumbnails .thumbnail {
        height: 180px;
    }

    .doublethumbnails .thumbnails-rows .discovery-post {
        width: 46%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .doublethumbnails .thumbnails-rows .hasthumbnail:nth-child(odd) {
        clear: left;
        margin-right: 20px;
    }

    .doublethumbnails .thumbnails-rows .hasthumbnail:last-child {
        padding-right: 0;
        display: inline;
    }

    .doublethumbnails .thumbnails-rows .thumbnail {
        height: 120px;
    };
}

@media screen and (min-width:730px) {
    .doublethumbnails section {
        width: 50%;
        float: left;
        clear: none;
    }

    .doublethumbnails section.discovery-col-1 {
        padding-top: 0;
    }

    .doublethumbnails .discovery-col-0 {
        padding-right: 30px;
    }

    .doublethumbnails .discovery-post {
        width: 100%;
    }

    .doublethumbnails .hasthumbnail {
        margin-bottom: 0;
    }

    .doublethumbnails .thumbnail {
        width: 33%;
        float: left;
        margin-right: 20px;
        height: 100px;
    };
}

.style-variant-big-slide-left section {
    width: 100%;
}

.style-variant-big-slide-left .col-promoted {
    padding-right: 0;
}

.style-variant-big-slide-left .col-promoted .discovery-posts {
    margin: 0 -2.5px 0 -2.5px;
}

.style-variant-big-slide-left .col-promoted .discovery-post {
    margin-bottom: 5px;
    padding: 0 2.5px;
    overflow: hidden;
}

.style-variant-big-slide-left .col-promoted .discovery-post-header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    -webkit-transform: translate(-100%,0);
    -ms-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

.style-variant-big-slide-left .col-promoted h3 {
    font-size: 21px;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    display: table;
}

.style-variant-big-slide-left .col-promoted .title {
    display: table-footer-group;
    padding-right: 0;
    color: #fff;
}

.style-variant-big-slide-left .col-promoted .inline-meta {
    font-size: 14px;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 5px;
    display: table-header-group;
}

.style-variant-big-slide-left .col-promoted .top-comment {
    display: none;
}

.style-variant-big-slide-left .col-promoted .thumbnail {
    height: 200px;
    position: relative;
    margin-bottom: 0;
    width: auto;
    float: none;
}

.style-variant-big-slide-left .col-promoted .thumbnail:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    -webkit-transform: translate(-100%,0);
    -ms-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

.style-variant-big-slide-left .col-promoted .publisher-anchor-color:hover .thumbnail:before {
    -webkit-transform: translate(0%,0);
    -ms-transform: translate(0%,0);
    transform: translate(0%,0);
}

.style-variant-big-slide-left .col-promoted .publisher-anchor-color:hover .discovery-post-header {
    -webkit-transform: translate(0%,0);
    -ms-transform: translate(0%,0);
    transform: translate(0%,0);
}

@media screen and (max-width:729px) {
    .style-variant-big-slide-left .col-promoted .discovery-post {
        width: 50%;
    }

    .style-variant-big-slide-left .post-4,.style-variant-big-slide-left .post-5 {
        display: none;
    };
}

@media screen and (min-width:730px) {
    .style-variant-big-slide-left .col-promoted .discovery-post {
        width: 33.33%;
    }

    .style-variant-big-slide-left .col-promoted .thumbnail {
        margin-right: 0;
    };
}

.style-variant-big section {
    width: 100%;
}

.style-variant-big .col-promoted {
    padding-right: 0;
}

.style-variant-big .col-promoted .discovery-posts {
    margin: 0 -2.5px 0 -2.5px;
}

.style-variant-big .col-promoted .discovery-post {
    margin-bottom: 5px;
    padding: 0 2.5px;
}

.style-variant-big .col-promoted .discovery-post-header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
}

.style-variant-big .col-promoted h3 {
    font-size: 21px;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    display: table;
}

.style-variant-big .col-promoted .title {
    display: table-footer-group;
    padding-right: 0;
    color: #fff;
}

.style-variant-big .col-promoted .inline-meta {
    font-size: 14px;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 5px;
    display: table-header-group;
}

.style-variant-big .col-promoted .top-comment {
    display: none;
}

.style-variant-big .col-promoted .thumbnail {
    height: 200px;
    position: relative;
    margin-bottom: 0;
    width: auto;
    float: none;
}

.style-variant-big .col-promoted .thumbnail:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.3) 60%,rgba(0,0,0,.7) 100%);
}

@media screen and (max-width:729px) {
    .style-variant-big .col-promoted .discovery-post {
        width: 50%;
    }

    .style-variant-big .col-promoted .post-4,.style-variant-big .col-promoted .post-5 {
        display: none;
    };
}

@media screen and (min-width:730px) {
    .style-variant-big .col-promoted .discovery-post {
        width: 33.33%;
    }

    .style-variant-big .col-promoted .thumbnail {
        margin-right: 0;
    };
}

.style-variant-big-circle section {
    width: 100%;
}

.style-variant-big-circle .col-promoted {
    padding-right: 0;
}

.style-variant-big-circle .col-promoted .discovery-posts {
    margin: 0 -2.5px 0 -2.5px;
}

.style-variant-big-circle .col-promoted .discovery-post {
    margin-bottom: 5px;
    padding: 0 2.5px;
    width: 33.33%;
    display: inline-block;
    position: relative;
}

.style-variant-big-circle .col-promoted .discovery-post:hover .title {
    -webkit-transform: translate(0%,0);
    -ms-transform: translate(0%,0);
    transform: translate(0%,0);
}

.style-variant-big-circle .col-promoted .discovery-post:hover .inline-meta {
    -webkit-transform: translate(0%,0);
    -ms-transform: translate(0%,0);
    transform: translate(0%,0);
}

.style-variant-big-circle .col-promoted .discovery-post:hover .thumbnail:before {
    background: rgba(0,0,0,.3);
}

.style-variant-big-circle .col-promoted .discovery-post .publisher-anchor-color {
    display: block;
    margin-top: 100%;
}

.style-variant-big-circle .col-promoted .discovery-post-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 95%;
    max-width: 250px;
    max-height: 250px;
    padding: 0 30px;
    overflow: hidden;
}

.style-variant-big-circle .col-promoted .title {
    padding-right: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: block;
    -webkit-transform: translate(-110%,0);
    -ms-transform: translate(-110%,0);
    transform: translate(-110%,0);
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.style-variant-big-circle .col-promoted h3 {
    font-size: 16px;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-weight: 900;
    line-height: 1.3em;
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 20px;
    right: 20px;
    margin-top: -3em;
}

.style-variant-big-circle .col-promoted .inline-meta {
    font-size: 14px;
    font-weight: 600;
    color: #ddd;
    display: block;
    text-align: center;
    -webkit-transform: translate(-100%,0);
    -ms-transform: translate(-100%,0);
    transform: translate(-100%,0);
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.style-variant-big-circle .col-promoted .top-comment {
    display: none;
}

.style-variant-big-circle .col-promoted .thumbnail {
    height: 95%;
    width: 95%;
    max-height: 250px;
    max-width: 250px;
    position: absolute;
    margin-top: -100%;
    margin-bottom: 0;
    margin-right: 0;
    float: none;
    border-radius: 50%;
    overflow: visible;
}

.style-variant-big-circle .col-promoted .thumbnail:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255,255,255,.6),0 1px 2px rgba(0,0,0,.3);
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

@media screen and (max-width:480px) {
    .style-variant-big-circle .col-promoted .discovery-post-header {
        display: none;
    };
}

.style-variant-big-rounded section {
    width: 100%;
}

.style-variant-big-rounded .col-promoted {
    padding-right: 0;
}

.style-variant-big-rounded .col-promoted .discovery-posts {
    margin: 0 -2.5px 0 -2.5px;
}

.style-variant-big-rounded .col-promoted .discovery-post {
    margin-bottom: 5px;
    padding: 0 2.5px;
    width: 25%;
    display: inline-block;
    position: relative;
}

.style-variant-big-rounded .col-promoted .discovery-post:hover .title {
    -webkit-transform: translate(-120%,0);
    -ms-transform: translate(-120%,0);
    transform: translate(-120%,0);
}

.style-variant-big-rounded .col-promoted .discovery-post:hover .inline-meta {
    -webkit-transform: translate(-120%,0);
    -ms-transform: translate(-120%,0);
    transform: translate(-120%,0);
}

.style-variant-big-rounded .col-promoted .discovery-post:hover .thumbnail:before {
    background: 0 0;
}

.style-variant-big-rounded .col-promoted .discovery-post .publisher-anchor-color {
    display: block;
    margin-top: 100%;
}

.style-variant-big-rounded .col-promoted .discovery-post-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 95%;
    max-width: 250px;
    max-height: 250px;
    padding: 0 30px;
    overflow: hidden;
}

.style-variant-big-rounded .col-promoted .title {
    padding-right: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: block;
    -webkit-transform: translate(0%,0);
    -ms-transform: translate(0%,0);
    transform: translate(0%,0);
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.style-variant-big-rounded .col-promoted h3 {
    font-size: 17px;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-weight: 700;
    line-height: 1.3em;
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 20px;
    right: 20px;
    margin-top: -3em;
}

.style-variant-big-rounded .col-promoted .inline-meta {
    font-size: 16px;
    font-weight: 600;
    color: #ddd;
    display: block;
    text-align: center;
    padding-top: 5px;
    -webkit-transform: translate(0%,0);
    -ms-transform: translate(0%,0);
    transform: translate(0%,0);
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.style-variant-big-rounded .col-promoted .top-comment {
    display: none;
}

.style-variant-big-rounded .col-promoted .thumbnail {
    height: 95%;
    width: 95%;
    max-height: 250px;
    max-width: 250px;
    position: absolute;
    margin-top: -100%;
    margin-bottom: 0;
    margin-right: 0;
    float: none;
    border-radius: 14%;
    overflow: visible;
}

.style-variant-big-rounded .col-promoted .thumbnail:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 14%;
    box-shadow: inset 0 0 0 4px rgba(97,97,97,.6),0 1px 2px rgba(0,0,0,.3);
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    background: rgba(0,0,0,.5);
}

@media screen and (max-width:780px) {
    .style-variant-big-rounded .col-promoted h3 {
        font-size: 13px;
    }

    .style-variant-big-rounded .col-promoted .inline-meta {
        font-size: 10px;
    };
}

@media screen and (max-width:520px) {
    .style-variant-big-rounded .col-promoted .discovery-post {
        width: 50%;
    }

    .style-variant-big-rounded .col-promoted h3 {
        font-size: 16px;
    }

    .style-variant-big-rounded .col-promoted .inline-meta {
        font-size: 12px;
    };
}

@media screen and (max-width:400px) {
    .style-variant-big-rounded .col-promoted .thumbnail:before {
        display: none;
    }

    .style-variant-big-rounded .col-promoted .discovery-post-header {
        display: none;
    };
}

.style-variant-big-final section {
    width: 100%;
}

.style-variant-big-final .col-promoted {
    padding-right: 0;
}

.style-variant-big-final .col-promoted .discovery-posts {
    margin: 0 -2.5px 0 -2.5px;
}

.style-variant-big-final .col-promoted .discovery-post {
    margin-bottom: 5px;
    padding: 0 2.5px;
}

.style-variant-big-final .col-promoted .discovery-post-header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
}

.style-variant-big-final .col-promoted h3 {
    font-size: 21px;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    display: table;
}

.style-variant-big-final .col-promoted .title {
    display: table-footer-group;
    padding-right: 0;
    color: #fff;
}

.style-variant-big-final .col-promoted .inline-meta {
    font-size: 14px;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 5px;
    display: table-header-group;
}

.style-variant-big-final .col-promoted .top-comment {
    display: none;
}

.style-variant-big-final .col-promoted .thumbnail {
    height: 240px;
    position: relative;
    margin-bottom: 0;
    width: auto;
    float: none;
}

.style-variant-big-final .col-promoted .thumbnail:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.3) 60%,rgba(0,0,0,.7) 100%);
}

@media screen and (max-width:480px) {
    .style-variant-big-final .col-promoted h3 {
        font-size: 16px;
    }

    .style-variant-big-final .col-promoted .thumbnail {
        height: 150px;
    }

    .style-variant-big-final .col-promoted .thumbnail:before {
        background: rgba(0,0,0,.5);
    };
}

@media screen and (max-width:729px) {
    .style-variant-big-final .col-promoted .discovery-post {
        width: 50%;
    };
}

@media screen and (min-width:730px) {
    .style-variant-big-final .col-promoted .discovery-post {
        width: 33.33%;
    }

    .style-variant-big-final .col-promoted .thumbnail {
        margin-right: 0;
    };
}

.dark .style-variant-big-final .col-promoted .inline-meta {
    color: #fff;
    color: rgba(255,255,255,.8);
}

@media screen and (min-width:481px) {
    .style-variant-old .col-promoted .hasthumbnail {
        width: 25%;
    };
}

@media screen and (min-width:730px) {
    .style-variant-old .col-promoted .discovery-post {
        width: 100%;
    }

    .style-variant-old .col-promoted .thumbnail {
        width: 33.33%;
    };
}

.style-variant-big-final-auto-slide section {
    width: 100%;
}

.style-variant-big-final-auto-slide .col-promoted {
    padding-right: 0;
}

.style-variant-big-final-auto-slide .col-promoted .discovery-posts {
    margin: 0 -2.5px 0 -2.5px;
    float: left;
    width: 100%;
}

.style-variant-big-final-auto-slide .col-promoted .discovery-post {
    margin-bottom: 5px;
    padding: 0 2.5px;
    overflow: hidden;
}

.style-variant-big-final-auto-slide .col-promoted .discovery-post-header {
    position: absolute;
    bottom: 0;
    left: -100%;
    right: 100%;
    padding: 8px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.style-variant-big-final-auto-slide .col-promoted .discovery-post-header.inViewport {
    left: 0;
    right: 0;
}

.style-variant-big-final-auto-slide .col-promoted h3 {
    font-size: 21px;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    display: table;
}

.style-variant-big-final-auto-slide .col-promoted .title {
    display: table-footer-group;
    padding-right: 0;
    color: #fff;
}

.style-variant-big-final-auto-slide .col-promoted .inline-meta {
    font-size: 14px;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 5px;
    display: table-header-group;
}

.style-variant-big-final-auto-slide .col-promoted .top-comment {
    display: none;
}

.style-variant-big-final-auto-slide .col-promoted .thumbnail {
    height: 200px;
    position: relative;
    margin-bottom: 0;
    width: auto;
    float: none;
}

.style-variant-big-final-auto-slide .col-promoted .thumbnail:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.3) 60%,rgba(0,0,0,.7) 100%);
}

@media screen and (max-width:480px) {
    .style-variant-big-final-auto-slide .col-promoted h3 {
        font-size: 16px;
    }

    .style-variant-big-final-auto-slide .col-promoted .thumbnail {
        height: 150px;
    }

    .style-variant-big-final-auto-slide .col-promoted .thumbnail:before {
        background: rgba(0,0,0,.5);
    };
}

@media screen and (max-width:729px) {
    .style-variant-big-final-auto-slide .col-promoted .discovery-post {
        width: 50%;
    };
}

@media screen and (min-width:730px) {
    .style-variant-big-final-auto-slide .col-promoted .discovery-post {
        width: 25%;
    }

    .style-variant-big-final-auto-slide .col-promoted .thumbnail {
        margin-right: 0;
    };
}

.dark .style-variant-big-final-auto-slide .col-promoted .inline-meta {
    color: #fff;
    color: rgba(255,255,255,.8);
}

.style-variant-big-final-dismiss section {
    width: 100%;
}

.style-variant-big-final-dismiss .col-promoted {
    padding-right: 0;
}

.style-variant-big-final-dismiss .col-promoted .discovery-posts {
    margin: 0 -2.5px 0 -2.5px;
}

.style-variant-big-final-dismiss .col-promoted .discovery-post {
    margin-bottom: 5px;
    padding: 0 2.5px;
}

.style-variant-big-final-dismiss .col-promoted .discovery-post-header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
}

.style-variant-big-final-dismiss .col-promoted h3 {
    font-size: 21px;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    display: table;
}

.style-variant-big-final-dismiss .col-promoted .title {
    display: table-footer-group;
    padding-right: 0;
    color: #fff;
}

.style-variant-big-final-dismiss .col-promoted .inline-meta {
    font-size: 14px;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 5px;
    display: table-header-group;
}

.style-variant-big-final-dismiss .col-promoted .top-comment {
    display: none;
}

.style-variant-big-final-dismiss .col-promoted .thumbnail {
    height: 200px;
    position: relative;
    margin-bottom: 0;
    width: auto;
    float: none;
}

.style-variant-big-final-dismiss .col-promoted .thumbnail:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.3) 60%,rgba(0,0,0,.7) 100%);
}

@media screen and (max-width:480px) {
    .style-variant-big-final-dismiss .col-promoted h3 {
        font-size: 16px;
    }

    .style-variant-big-final-dismiss .col-promoted .thumbnail {
        height: 150px;
    }

    .style-variant-big-final-dismiss .col-promoted .thumbnail:before {
        background: rgba(0,0,0,.5);
    };
}

@media screen and (max-width:729px) {
    .style-variant-big-final-dismiss .col-promoted .discovery-post {
        width: 50%;
    };
}

@media screen and (min-width:730px) {
    .style-variant-big-final-dismiss .col-promoted .discovery-post {
        width: 25%;
    }

    .style-variant-big-final-dismiss .col-promoted .thumbnail {
        margin-right: 0;
    };
}

.style-variant-big-final-dismiss .hasthumbnail .discovery-post-dismiss {
    display: none;
    position: absolute;
    top: 2px;
    right: 4.5px;
    padding: .1em 0;
    color: #eaedee;
    color: rgba(255,255,255,.85);
}

.style-variant-big-final-dismiss .hasthumbnail:hover .discovery-post-dismiss {
    display: block;
}

@media screen and (max-width:480px) {
    .style-variant-big-final-dismiss .hasthumbnail:hover .discovery-post-dismiss {
        display: none;
    };
}

@media screen and (min-width:481px) {
    .style-variant-big-final-dismiss .hasthumbnail:hover .thumbnail:before,.style-variant-big-final-dismiss .hasthumbnail.dismissed .thumbnail:before {
        background: linear-gradient(to bottom,rgba(0,0,0,.4) 0,rgba(0,0,0,.16) 32%,rgba(0,0,0,.3) 60%,rgba(0,0,0,.7) 100%);
    };
}

.style-variant-big-final-dismiss .hasthumbnail .discovery-feedback {
    display: none;
}

.style-variant-big-final-dismiss .hasthumbnail.dismissed .thumbnail,.style-variant-big-final-dismiss .hasthumbnail.dismissed .discovery-post-header {
    opacity: .25;
    filter: alpha(opacity=25);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.style-variant-big-final-dismiss .hasthumbnail.dismissed .discovery-post-dismiss {
    display: none;
}

.style-variant-big-final-dismiss .hasthumbnail.dismissed .discovery-feedback {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.style-variant-big-final-dismiss .hasthumbnail.dismissed .discovery-feedback p {
    position: absolute;
    margin: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    left: 0;
    right: 0;
    color: #3f4549;
    font-weight: bolder;
}

.dark .style-variant-big-final-dismiss .col-promoted .inline-meta {
    color: #fff;
    color: rgba(255,255,255,.8);
}

.dark .style-variant-big-final-dismiss .discovery-feedback {
    color: #a5b2b9;
    color: rgba(255,255,255,.6);
}

.dark .style-variant-big-final-dismiss .hasthumbnail.dismissed .thumbnail,.dark .style-variant-big-final-dismiss .hasthumbnail.dismissed .discovery-post-header {
    opacity: .05;
    filter: alpha(opacity=5);
}

.post-list .sponsored .post-meta,.post-list .sponsored .post-menu {
    display: none;
}

.post-list .sponsored .hidden {
    display: none!important;
}

.post-list .sponsored .feedback {
    position: absolute;
    right: 6px;
}

.post-list .sponsored .feedback button {
    background: inherit;
    color: #a5b2b9;
    color: rgba(0,39,59,.35);
    outline: 0;
    font-weight: 500;
    font-size: 12px;
}

.post-list .sponsored .post-media {
    margin-top: 10px;
    display: block;
}

.post-list .sponsored .post-content .post-message-container {
    overflow: visible;
}

.post-list .sponsored .post-content .post-body .media-content-placeholder {
    position: relative;
    min-height: initial;
}

.post-list .sponsored .comment-text {
    width: auto;
    overflow: hidden;
    padding-right: 5px;
}

.post-list .sponsored .disqus-video-trigger {
    display: block;
    position: relative;
    overflow: hidden;
    width: 200px;
    float: right;
    margin-top: -36px;
}

.post-list .sponsored .disqus-video-trigger .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background: url(//a.disquscdn.com/next/assets/img/play-sprite.2b5ae8296badbd4794dd9585e3d8f018.png) 0 0 no-repeat;
}

.post-list .sponsored .disqus-video-trigger:hover .play-btn {
    background-position: 0 -61px;
}

@media (max-width:480px) {
    .post-list .sponsored .disqus-video-trigger {
        float: none;
        margin-top: 0;
    }

    .post-list .sponsored iframe {
        max-width: 300px;
    };
}

body.dark .sponsored .post-content,.dark .sponsored .post-content,body.dark.post.sponsored .post-content,.dark.post.sponsored .post-content {
    background-color: inherit;
    background-color: rgba(100,100,100,.82);
}

body.dark .sponsored .feedback button,.dark .sponsored .feedback button,body.dark.post.sponsored .feedback button,.dark.post.sponsored .feedback button {
    color: #909090;
    color: rgba(255,255,255,.5);
}

body.dark .sponsored .state-byline .text,.dark .sponsored .state-byline .text,body.dark.post.sponsored .state-byline .text,.dark.post.sponsored .state-byline .text {
    color: #909090;
    color: rgba(255,255,255,.5);
}

.style-variant-blue-overlay.sponsored:hover .disqus-video-trigger a:before {
    top: 0;
}

.style-variant-blue-overlay.sponsored .disqus-video-trigger a {
    display: block;
}

.style-variant-blue-overlay.sponsored .disqus-video-trigger a:before {
    display: block;
    content: '';
    position: absolute;
    height: 141px;
    top: -141px;
    left: 0;
    right: 0;
    background: rgba(46,159,255,.7);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border-radius: 3px;
}

.style-variant-black-overlay.sponsored:hover .disqus-video-trigger a:before {
    opacity: .75;
}

.style-variant-black-overlay.sponsored .disqus-video-trigger a {
    display: block;
}

.style-variant-black-overlay.sponsored .disqus-video-trigger a:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 141px;
    background: #000;
    background: none\9;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 3px;
}

.style-variant-hover-to-expand.sponsored.hover-to-expand-active .play-btn {
    display: none;
}

.style-variant-hover-to-expand .countdown-timer.active:before {
    opacity: .75;
}

.style-variant-hover-to-expand .countdown-timer.active .countdown-circle,.style-variant-hover-to-expand .countdown-timer.active .countdown-circle-back {
    display: block;
}

.style-variant-hover-to-expand .countdown-timer.active .countdown-text {
    display: block;
}

.style-variant-hover-to-expand .countdown-timer:before {
    background: #00618d;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.style-variant-hover-to-expand .countdown-timer .countdown-circle,.style-variant-hover-to-expand .countdown-timer .countdown-circle-back {
    display: none;
    fill: none;
    stroke: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.style-variant-hover-to-expand .countdown-timer .countdown-circle-back {
    -webkit-transform: scale(1.1) translate3d(0,0,0);
    stroke-width: 2;
    opacity: .5;
}

.style-variant-hover-to-expand .countdown-timer .countdown-circle {
    stroke-width: 6;
}

.style-variant-hover-to-expand .countdown-timer .countdown-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.style-variant-reverse-background.dark.sponsored .post-content {
    background-color: #3f4549;
}

.style-variant-reverse-background.post.light.sponsored {
    color: #3f4549!important;
}

.style-variant-reverse-background.post.light.sponsored .post-content {
    background-color: #f2f4f5!important;
}

.style-variant-reverse-background.post.light.sponsored .post-content footer a,.style-variant-reverse-background.post.light.sponsored .post-content .vote-down {
    color: #a5b2b9!important;
    border-color: rgba(0,39,59,.08)!important;
}

.style-variant-reverse-background.post.light.sponsored .post-content .bullet {
    color: #a5b2b9!important;
}

.style-variant-reverse-background.post.light.sponsored .textarea-wrapper {
    border: 2px solid #cbd2d6;
    border: 2px solid rgba(0,39,59,.2);
}

.style-variant-reverse-background.post.light.sponsored .state-byline .text {
    color: #a5b2b9;
}

.style-variant-reverse-background.post.light.sponsored .feedback button {
    color: #a5b2b9!important;
}