/*!
 * minimum set of bootstrap includes for most embed components
 */html,body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,ul {
    list-style: none;
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
}

html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted;
}

a:hover,a:active {
    outline: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,input {
    line-height: normal;
    *overflow: visible;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button,input[type=button],input[type=reset],input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgba(29,47,58,.6);
    background-color: #000;
}

a {
    color: #0069d6;
    text-decoration: none;
}

a:hover {
    color: #00438a;
    text-decoration: underline;
}

.img-rounded {
    border-radius: 6px;
}

.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.img-circle {
    border-radius: 500px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.affix {
    position: fixed;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    filter: alpha(opacity=40);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    *line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: rgba(29,47,58,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(to bottom,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    *background-color: #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #bbb;
    *border: 0;
    border-bottom-color: #a2a2a2;
    border-radius: 4px;
    *margin-left: .3em;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}

.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {
    color: rgba(29,47,58,.6);
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.btn:active,.btn.active {
    background-color: #ccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover {
    color: rgba(29,47,58,.6);
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,.btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
}

.btn.disabled,.btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    box-shadow: none;
}

.btn-default {
    overflow: hidden;
    position: relative;
    color: #fff;
    background: #8e979c;
    font-size: 14px;
    padding: 8px 24px;
    line-height: 20px;
    text-shadow: none;
    border: 0;
    box-shadow: none;
}

.btn-default:hover {
    color: #fff;
    background-color: #8e979c;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    border-radius: 6px;
}

.btn-large [class^=icon-],.btn-large [class*=" icon-"] {
    margin-top: 2px;
}

.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    border-radius: 3px;
}

.btn-small [class^=icon-],.btn-small [class*=" icon-"] {
    margin-top: 0;
}

.btn-mini {
    padding: 1px 6px;
    font-size: 10.5px;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-block+.btn-block {
    margin-top: 5px;
}

input[type=submit].btn-block,input[type=reset].btn-block,input[type=button].btn-block {
    width: 100%;
}

.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active {
    color: rgba(255,255,255,.75);
}

.btn {
    border-color: #c5c5c5;
    border-color: rgba(0,0,0,.15) rgba(0,0,0,.15) rgba(0,0,0,.25);
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #004cd6;
    background-image: -webkit-linear-gradient(to bottom,#0069d6,#0022d6);
    background-image: linear-gradient(to bottom,#0069d6,#0022d6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0069d6', endColorstr='#ff0022d6', GradientType=0);
    border-color: #0022d6 #0022d6 #00168a;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    *background-color: #0022d6;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled] {
    color: #fff;
    background-color: #0022d6;
    *background-color: #001ebd;
}

.btn-primary:active,.btn-primary.active {
    background-color: #001aa3 \9;
}

.btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #ff855c;
    background-image: -webkit-linear-gradient(to bottom,#ff9c7b,#ff632e);
    background-image: linear-gradient(to bottom,#ff9c7b,#ff632e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9c7b', endColorstr='#ffff632e', GradientType=0);
    border-color: #ff632e #ff632e #e13900;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    *background-color: #ff632e;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled] {
    color: #fff;
    background-color: #ff632e;
    *background-color: #ff5015;
}

.btn-warning:active,.btn-warning.active {
    background-color: #fa3f00 \9;
}

.btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #da4f49;
    background-image: -webkit-linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    *background-color: #bd362f;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled] {
    color: #fff;
    background-color: #bd362f;
    *background-color: #a9302a;
}

.btn-danger:active,.btn-danger.active {
    background-color: #942a25 \9;
}

.btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #5bb75b;
    background-image: -webkit-linear-gradient(to bottom,#62c462,#51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    *background-color: #51a351;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled] {
    color: #fff;
    background-color: #51a351;
    *background-color: #499249;
}

.btn-success:active,.btn-success.active {
    background-color: #408140 \9;
}

.btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #49afcd;
    background-image: -webkit-linear-gradient(to bottom,#5bc0de,#2f96b4);
    background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    *background-color: #2f96b4;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled] {
    color: #fff;
    background-color: #2f96b4;
    *background-color: #2a85a0;
}

.btn-info:active,.btn-info.active {
    background-color: #24748c \9;
}

.btn-inverse {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: rgba(58,62,65,.8799999999999999);
    background-image: -webkit-linear-gradient(to bottom,#444,rgba(29,47,58,.7));
    background-image: linear-gradient(to bottom,#444,rgba(29,47,58,.7));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#b31d2f3a', GradientType=0);
    border-color: rgba(29,47,58,.7) rgba(29,47,58,.7) rgba(4,6,7,.7);
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    *background-color: rgba(29,47,58,.7);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled] {
    color: #fff;
    background-color: rgba(29,47,58,.7);
    *background-color: rgba(21,33,41,.7);
}

.btn-inverse:active,.btn-inverse.active {
    background-color: rgba(12,19,24,.7) \9;
}

button.btn,input[type=submit].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button.btn.btn-large,input[type=submit].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}

button.btn.btn-small,input[type=submit].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.btn.btn-mini,input[type=submit].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}

.btn-link,.btn-link:active,.btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #0069d6;
    border-radius: 0;
}

.btn-link:hover {
    color: #00438a;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link[disabled]:hover {
    color: rgba(29,47,58,.6);
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    *margin-bottom: -3px;
}

.dropdown-toggle:active,.open .dropdown-toggle {
    outline: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    text-indent: -99999px;
    *text-indent: 0;
    vertical-align: top;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    opacity: .3;
    filter: alpha(opacity=30);
    content: "\2193";
}

.dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
}

.dropdown:hover .caret,.open.dropdown .caret {
    opacity: 1;
    filter: alpha(opacity=100);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    max-width: 220px;
    _width: 160px;
    padding: 4px 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border-color: #ccc;
    border-color: rgba(0,0,0,.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.dropdown-menu.bottom-up {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 5px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
    *width: 100%;
    *margin: -5px 0 5px;
}

.dropdown-menu a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: 500;
    line-height: 18px;
    color: rgba(0,39,59,.5);
    white-space: nowrap;
}

.dropdown-menu li>a:hover,.dropdown-menu .active>a,.dropdown-menu .active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #2e9fff;
}

.dropdown.open {
    *z-index: 1000;
}

.dropdown.open .dropdown-toggle {
    color: #fff;
    background: #ccc;
    background: rgba(0,0,0,.3);
}

.dropdown.open .dropdown-menu {
    display: block;
}

.typeahead {
    margin-top: 2px;
    border-radius: 4px;
}

.inputBg {
    -webkit-appearance: none;
    background: #fff;
    border: 2px solid #cbd2d6;
    border: 2px solid rgba(0,39,59,.2);
}

.inputBg:focus {
    border: 2px solid #cbd2d6;
    border: 2px solid rgba(0,39,59,.35);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    color: #3f4549;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}

a:hover,a:active {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

a {
    text-decoration: none;
    color: #288ce4;
    -webkit-transition: color linear .1s;
    transition: color linear .1s;
}

a:hover {
    color: #1977ca;
}

button {
    -webkit-font-smoothing: antialiased;
}

button.alert {
    width: 100%;
    display: block;
}

button::-moz-focus-inner {
    border: 0;
}

strong {
    font-weight: 700;
}

strong a {
    font-weight: 700;
}

em {
    font-style: italic;
}

p {
    margin: 0 0 1.5em;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 1.5em;
}

h3 a.pull-right {
    font-size: 12px;
    font-weight: 400;
}

h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
}

h5 {
    font-weight: 700;
    font-size: 11px;
    color: #7f929c;
    color: rgba(0,39,59,.5);
    margin: 0 0 10px;
    line-height: 1;
}

h6 {
    font-weight: 700;
    font-size: 11px;
    color: #7f929c;
    color: rgba(0,39,59,.5);
    text-transform: uppercase;
    margin: 0 0 10px;
    line-height: 1;
}

pre .comment,pre .template_comment,pre .diff .header,pre .javadoc {
    color: #998;
    font-style: italic;
}

pre .keyword,pre .css .rule .keyword,pre .winutils,pre .javascript .title,pre .lisp .title,pre .nginx .title,pre .subst,pre .request,pre .status {
    color: #000;
    font-weight: 700;
}

pre .number,pre .hexcolor {
    color: #40a070;
}

pre .string,pre .tag .value,pre .phpdoc,pre .tex .formula {
    color: #d14;
}

pre .title,pre .id {
    color: #900;
    font-weight: 700;
}

pre .javascript .title,pre .lisp .title,pre .subst {
    font-weight: 400;
}

pre .class .title,pre .haskell .type,pre .vhdl .literal,pre .tex .command {
    color: #458;
    font-weight: 700;
}

pre .tag,pre .tag .title,pre .rules .property,pre .django .tag .keyword {
    color: navy;
    font-weight: 400;
}

pre .attribute,pre .variable,pre .instancevar,pre .lisp .body {
    color: teal;
}

pre .regexp {
    color: #009926;
}

pre .class {
    color: #458;
    font-weight: 700;
}

pre .symbol,pre .ruby .symbol .string,pre .ruby .symbol .keyword,pre .ruby .symbol .keymethods,pre .lisp .keyword,pre .tex .special,pre .input_number {
    color: #990073;
}

pre .builtin,pre .built_in,pre .lisp .title {
    color: #0086b3;
}

pre .preprocessor,pre .pi,pre .doctype,pre .shebang,pre .cdata {
    color: #999;
    font-weight: 700;
}

pre .deletion {
    background: #fdd;
}

pre .addition {
    background: #dfd;
}

pre .diff .change {
    background: #0086b3;
}

pre .chunk {
    color: #aaa;
}

pre .tex .formula {
    opacity: .5;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    color: #c09853;
}

.alert h4 {
    margin: 0;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert-danger,.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block>p,.alert-block>ul {
    margin-bottom: 0;
}

.alert-block p+p {
    margin-top: 5px;
}

.alert {
    background: rgba(0,20,255,.5);
    padding: 10px 35px 10px 14px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    line-height: 20px;
    font-size: 13px;
    text-shadow: none;
}

.alert a,.alert a:active,.alert a:visited {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}

.alert a:hover,.alert a:active:hover,.alert a:visited:hover {
    color: #fff;
}

.alert.error {
    background: #f55567;
}

.alert.success {
    background: #8fc847;
}

.alert.info {
    background: #2e9fff;
}

.alert.realtime {
    background: #2e9fff;
}

.close {
    color: #fff!important;
    text-decoration: none!important;
    float: right;
    font-weight: 700;
    display: block;
    font-size: 20px;
    opacity: .8;
    padding: 0!important;
    background: none!important;
}

.notice {
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    background: rgba(0,39,59,.08);
    border-radius: 5px;
    *zoom: 1;
}

.notice:before,.notice:after {
    display: table;
    content: "";
    line-height: 0;
}

.notice:after {
    clear: both;
}

.notice .notice-wrapper {
    display: table;
    width: 100%;
}

.notice .icon {
    display: table-cell;
    float: left;
    margin: 2px .5em 0 0;
    color: #7f929c;
    font-size: 32px;
}

.notice .message,.notice .message:active,.notice .message:visited {
    display: table-cell;
    vertical-align: middle;
    max-width: 540px;
    padding-right: .5em;
    color: #5f6c73;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.3em;
}

.notice .message:hover,.notice .message:active:hover,.notice .message:visited:hover {
    color: rgba(0,39,59,.5);
}

.notice .btn {
    display: table-cell;
    width: 110px;
    padding-left: 0;
    padding-right: 0;
}

.notice .btn-primary {
    background: #2e9fff;
    color: #fff;
}

.dismiss {
    display: block;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,39,59,.5);
    cursor: pointer;
}

.dismiss .cross {
    font-weight: 700;
    font-size: 16px;
}

.btn {
    border: 0;
    background: #778289;
    background: rgba(29,47,58,.6);
    display: inline-block;
    padding: 10px 16px;
    color: #fff;
    line-height: 1.1;
    border-radius: 3px;
    font-weight: 500;
    -webkit-transition: background .2s;
    transition: background .2s;
    text-shadow: none;
}

.btn:hover {
    background: #606d75;
    background: rgba(29,47,58,.7);
    color: #fff;
}

.btn:active,.btn.active {
    -webkit-transition: none;
    transition: none;
    background: #2e9fff;
}

.btn.busy {
    background: #ebeef2;
    color: #bbb;
    text-shadow: none;
}

.btn.busy:hover {
    background: #ebeef2;
    text-shadow: none;
    cursor: not-allowed;
}

.btn.busy:active {
    background: #ebeef2;
    text-shadow: none;
    cursor: not-allowed;
}

.btn.btn-small {
    font-size: 12px;
    padding: 8px 10px;
    background-position: 0 -10px;
}

.btn.btn-small.follow {
    font-weight: 400;
    font-size: 10px;
    padding: 1px 4px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,.07);
}

.btn.btn-small:hover {
    background-position: 0 -40px;
}

.follow-btn {
    overflow: hidden;
    position: relative;
    color: #fff;
    background: #2e9fff;
    font-size: 14px;
    padding: 4px 14px;
    line-height: 20px;
    text-shadow: none;
    border: 0;
    box-shadow: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.follow-btn:hover {
    color: #fff;
    background-color: #8e979c;
}

.follow-btn .follow-text {
    display: inline;
}

.follow-btn .following-text {
    display: none;
}

.follow-btn .icon-checkmark {
    display: block;
    position: absolute;
    left: 9px;
    top: 15px;
    transition-delay: .6s;
    -moz-transition-delay: .6s;
    -webkit-transition-delay: .6s;
    -webkit-transition: all .2s;
    transition: all .2s;
    opacity: 0;
    filter: alpha(opacity=0);
}

.follow-btn .icon-plus {
    display: none;
}

.follow-btn.private {
    background-color: #a9b0b4!important;
    cursor: not-allowed;
}

.follow-btn.private .icon-lock {
    display: inline;
    padding-right: .25em;
}

.follow-btn.private .icon-lock:before {
    position: relative;
    top: 1px;
}

.follow-btn.edit-profile {
    color: #fff;
    background-color: #a9b0b4;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    font-weight: 700;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.follow-btn.edit-profile:hover {
    color: #fff;
    background-color: #8e979c;
}

.follow-btn.following {
    background: #8fc847!important;
    padding-right: 10px;
    padding-left: 30px;
}

.follow-btn.following .follow-text {
    display: none;
}

.follow-btn.following .following-text {
    display: inline;
}

.follow-btn.following .icon-checkmark {
    top: 6px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.follow-btn.btn-small {
    font-size: 12px;
    font-weight: 700;
    padding: 2px 9px 1px;
}

.follow-btn.btn-small.following {
    padding-left: 24px;
}

.follow-btn.btn-small.following .icon-checkmark {
    top: 3px;
    left: 7px;
}

.follow-link {
    position: relative;
}

.follow-link .follow-text {
    display: inline;
}

.follow-link .following-text {
    display: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.follow-link .icon-checkmark {
    position: absolute;
    left: 2px;
    top: 10px;
    -webkit-transition: all .2s;
    transition: all .2s;
    opacity: 0;
    filter: alpha(opacity=0);
}

.follow-link.following .follow-text {
    display: none;
}

.follow-link.following .following-text {
    margin-left: 20px;
    display: inline;
    color: rgba(0,39,59,.35);
}

.follow-link.following .icon-checkmark {
    top: 2px;
    opacity: 1;
    filter: alpha(opacity=100);
    color: rgba(0,39,59,.35);
}

@media (max-width:480px) {
    #profile .btn.follow-btn {
        font-size: 13px;
        padding: 4px 9px;
    }

    #profile .btn.follow-btn .icon-plus,#profile .btn.follow-btn .icon-lock {
        position: static!important;
    }

    #profile .btn.follow-btn .btn-text {
        display: none!important;
    }

    #profile .btn.follow-btn .icon-plus {
        display: inline;
    }

    #profile .btn.follow-btn .icon-checkmark {
        display: none;
    }

    #profile .btn.follow-btn.following .icon-checkmark {
        position: static;
        displa